<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Sleep Quality Calculator - Evaluate and improve your sleep!" />
  <meta name="description"
    content="Learn about the health benefits of getting a full night's sleep! Reflect on your habits using our sleep calculator, then browse our tips and resources for information on how you can sleep better" />

  <!-- Styles -->
  <link rel="stylesheet" href="../static/assets/styles/styles.css" />
  <link rel="preload" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" as="style" onload="this.onload==null;this.rel='stylesheet'"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />
  <noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" /></noscript>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpeg" href="{{ url_for('static', filename='./images/logo.png') }}">
  <title>Sleep Quality Calculator</title>
</head>

<body>
  <span id="top"></span>
  <main>
    <section>
      <div class="cloud-row"></div>
      <div class="cloud-row"></div>

      <div class="introduction">
        <h1>Improving the Quality of Sleep</h1>
        <p>
          <b>Are you getting enough sleep? Are you getting quality sleep? </b>
        </p>

        <p>
          Most of us need around 8 hours of good-quality sleep a night to feel
          and perform at our best. Some will need more and some less. This
          can depend on factors such as age, health, and lifestyle.
        </p>

        <p>
          There are lots of factors that can cause poor sleep. Some of these
          include: stress and anxiety, drinking too much alcohol/caffeine, a
          poor sleeping environment, disturbance from children or partners,
          bad sleeping habits, or medical factors.
          <i><a href="https://www.nhs.uk/live-well/sleep-and-tiredness/why-lack-of-sleep-is-bad-for-your-health/">Find
              out more here</a></i>
        </p>

        <p>
          The effects of a lack of sleep are well known and many of us will
          have experienced these at one time or another during our lives.
        </p>
        <p>
          Some of these effects include feeling irritable and moody,
          difficulty concentrating and staying alert, and not being able to
          work properly. Aside from these, prolonged sleep deprivation can
          have consequences for your physical health as well.
        </p>

        <p>
          If any of this resonates with you, it's time to look at your sleep
          habits.
        </p>

        <p class="calculate_sleep">
          Click on the button below to calculate your sleep score and find out
          how you can improve your sleep.
        </p>
        <a href="#sleep-score" class="calculate_score_button">
          Calculate Your Sleep Score
        </a>
        <a href="{{url_for('quality')}}" class="calculate_sleep_button">
          Track Sleep quality
        </a>
      </div>
      <div class="cloud-row"></div>
      <div class="cloud-row"></div>
      <article id="sleep-benefits">
        <div class="sleep-benefits__image">
          <img src="" alt="A lit moon on a dark night sky filled with bright stars" class="responsive-img" />
        </div>
        <div class="sleep-benefits__introduction">
          <h2>Benefits of good sleep quality</h2>
          <p>
            <b>Are you getting enough sleep? Are you getting quality sleep? </b>
          </p>

          <div class="sleep-benefits__list">
            <details>
              <summary>Sharper Brain</summary>
              Without enough sleep, it's tough to focus and take in new
              information. Your brain also doesn't have enough time to
              properly store memories so you can pull them up later. Sleep lets
              your brain catch up so you're ready for what's next.
            </details>

            <details>
              <summary>Mood Boost</summary>
              Another thing that your brain does while you sleep is process
              your emotions. Your mind needs this time in order to recognize
              and react the right way. Refreshing slumber helps you hit the
              reset button on a bad day, improve your outlook on life, and be
              better prepared to meet challenges.
            </details>
            <details>
              <summary>Healthier Heart</summary>
              While you sleep, your blood pressure goes down, giving your
              heart and blood vessels a bit of a rest. The less sleep you get,
              the longer your blood pressure stays up during a 24-hour cycle.
              High blood pressure can lead to heart disease, including stroke.
            </details>
            <details>
              <summary>Steadier Blood Sugar</summary>
              During the deep, slow-wave part of your sleep cycle, the amount
              of glucose in your blood drops. Not enough time in this deepest
              stage means you don't get that break to allow a reset -- like
              leaving the volume turned up.
            </details>
            <details>
              <summary>Germ Fighting</summary>
              Ongoing lack of sleep changes the way your immune cells work.
              They may not attack as quickly, and you could get sick more
              often. Good nightly rest can help you avoid that tired, worn-out
              feeling, as well as spending days in bed as your body tries to
              recover.
            </details>
            <details>
              <summary>Weight Control</summary>
              When you're well-rested, you're less hungry. Being
              sleep-deprived messes with the hormones in your brain -- leptin
              and ghrelin -- that control appetite.
            </details>
            <small>
              * This information about sleep benefits is from 
              <a href="https://www.webmd.com/sleep-disorders/benefits-sleep-more">WebMD</a></small>
          </div>
        </div>
      </article>
    </section>

    <section id="side-effects">
      <div class="side-effects-intro">
        <h2>Side effects of poor sleep quality</h2>
        <p>
          The effects of poor sleep can be serious and far-reaching. The
          long-term effects of sleep deprivation are proven. It drains your
          mental abilities and puts your physical health at real risk. Science
          has linked poor slumber with a number of health problems, from
          weight gain to a weakened immune system.
        </p>
        <small>
          * This information about the side effects of poor sleep is from 
          <a href="https://www.healthline.com/health/sleep-deprivation/effects-on-body">
            Healthline</a>
          and <a href="https://www.sleepfoundation.org/">Sleep Foundation</a></small>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <!-- col-1-row-1-item-1 -->
          <h3>Difficulty concentrating and staying alert</h3>
          <p>
            When you are suffereing from a lack of sleep you will find it hard
            to concentrate on things like work and even simple tasks. You may
            feel tired during the day or when performing activities such as
            driving which can put yourself and others at risk.
          </p>
        </div>

        <div class="grid-item">
          <!-- col-2-row-1-item-2 -->
          <h3>Memory issues</h3>
          <p>
            During sleep, the brain forms connections and helps you process
            and remember new things. A lack of sleep can hinder ths process
            and impact both your long and short term memory.
          </p>
        </div>

        <div class="grid-item">
          <!-- col-3-row-1-item-3 -->
          <h3>More Accident prone</h3>
          <p>
            Being drowsy can increase your risk of accidents either from being
            to tired too concentrate and respond to stimulus ie. driving a
            car, or you may be prone to take more risks, as you arent able to
            asses the situation properly. A lack of sleep can also affect your
            balance and coordination which again may make you more prone to
            accidents.
          </p>
        </div>

        <div class="grid-item">
          <!-- col-1-row-2-item-1 -->
          <h3>Feeling irritable and moody</h3>
          <p>
            A lack of sleep can make you, moody , emotional and short
            tempered.
          </p>
        </div>
        <div class="grid-item">
          <img src={{ url_for('static', filename='./assets/images/tiredWorker.svg') }} alt="A person is asleep at  their desk." />
        </div>
        <div class="grid-item">
          <!-- col-3-row-2-item-3 -->
          <h3>Overeating</h3>
          <p>
            The chemicals which signal to your brain that you are full are
            affected by lack of sleep, which is just one of several ways that
            poor sleep may be tied to obesity and problems with maintaining a
            healthy weight.
          </p>
        </div>

        <div class="grid-item">
          <!-- col-1-row-3-item-1 -->
          <h3>Immunodeficieny</h3>
          <p>
            Sleep deficiency has been shown to lead to worsened immune
            function, making you more suceptable to getting illnesses,
            including a poorer response to vaccines.
          </p>
        </div>
        <div class="grid-item" id="col-2-row-3-item-2">
          <!-- col-2-row-3-item-2 -->
          <h3>Other Health Risks</h3>
          <p>
            <b>The cardiovascular system: </b> Lack of sleep may lead to
            increased blood pressure and higher levels of inflammation and
            increases your risk of cardiovascular disease.
          </p>
          <p>
            <b>Diabetes: </b> Lack of sleep efects the bodys release of
            insulin.People who do not get enough sleep have higher blood sugar
            levels and an increased risk of Type 2 diabetes.
          </p>
          <p>
            <b>Mental health disorders: </b>
            Sleep and mental health are closely intertwined, and poor sleep
            has strong associations with conditions like depression, anxiety,
            and bipolar disorder.
          </p>
        </div>
      </div>
    </section>
    <section id="improve-sleep-quality">
      <h2>How to improve sleep quality</h2>
      <div class="improve-sleep-quality">
        <h3>
          Top tips to get to sleep and sleep better
        </h3>
        <p>
          If you're having sleep problems, there are simple steps you can take
          to ease those restless nights.
        </p>
        <div class="top-tips-grid">
          <div class="top-tips-item">
            <h4>
              Keep regular sleep hours
            </h4>
            <p>
              Going to bed when you feel tired and getting up at roughly the
              same time helps teach your body to sleep better. Try to avoid
              napping where possible.
            </p>
          </div>
          <div class="top-tips-item">
            <h4>Create a restful environment</h4>
            <p>
              Dark, quiet and cool environments generally make it easier to
              fall asleep and stay asleep. Watch our video for tips on how to
              sleep better.
            </p>
          </div>
          <div class="top-tips-item">
            <h4>
              Move more, sleep better
            </h4>
            <p>
              Being active can help you sleep better. These videos can get you
              going, but remember to avoid vigorous activity near bedtime if
              it affects your sleep.
            </p>
          </div>
          <div class="top-tips-item">
            <h4>
              Confront sleeplessness
            </h4>
            <p>
              If you are lying awake unable to sleep, do not force it. Get up
              and do something relaxing for a bit, and return to bed when you
              feel sleepier.
            </p>
          </div>
          <div class="top-tips-item">
            <h4>
              Write down your worries
            </h4>
            <p>
              If you often lie awake worrying about tomorrow, set aside time
              before bed to make a list for the next day. This can help put
              your mind at rest.
            </p>
          </div>
          <div class="top-tips-item">
            <h4>
              Put down the pick-me-ups
            </h4>
            <p>
              Caffeine and alcohol can stop you falling asleep and prevent
              deep sleep. Try to cut down on alcohol and avoid caffeine close
              to bedtime.
            </p>
          </div>
        </div>
        <small>
          *Sleeping tips are from the
          <a
            href="https://www.nhs.uk/oneyou/every-mind-matters/sleep/?WT.tsrc=Search&WT.mc_id=Sleep&gclid=CjwKCAjw6fCCBhBNEiwAem5SOy2wctEilIGVXWL8DwczYjKIAM0BrYF9s5FgTtYAWvxON6G8EbZzQhoC9wsQAvD_BwE&gclsrc=aw.ds#custom-2column-share-shelf">NHS's
            "Every Mind Matters"</a> resource. You can also find a sleeping tips video
          <a
            href="https://www.nhs.uk/oneyou/every-mind-matters/sleep/?WT.tsrc=Search&WT.mc_id=Sleep&gclid=CjwKCAjw6fCCBhBNEiwAem5SOy2wctEilIGVXWL8DwczYjKIAM0BrYF9s5FgTtYAWvxON6G8EbZzQhoC9wsQAvD_BwE&gclsrc=aw.ds#custom-2column-share-shelf">
            sleeping tips video
          </a>.
        </small>
      </div>
      </div>
    </section>
    <section id="sleep-score">
      <h2>Calculate your sleep score</h2>
      <div id="calculator-wrapper">
        <div id="calculator"></div>
      </div>
      <small>Calculator questions are from the
        <a href="https://assets.nhs.uk/tools/self-assessments/index.mob.html?variant=72">NHS Sleep
          Self-Assessment</a></small>
    </section>
    <section id="resources">
      <h2>Additional Help & Resources</h2>
      <div id="resource-wrapper">
        <div class="resource-card">
          <div class="text-wrapper">
            <a href="https://www.hopkinsmedicine.org/health/wellness-and-prevention/exercising-for-better-sleep">Exercising
              for better sleep</a>
            <p>Johns Hopkins Medicine</p>
          </div>
        </div>
        <div class="resource-card">
          <div class="text-wrapper">
            <a href="https://www.nhs.uk/live-well/sleep-and-tiredness/how-to-get-to-sleep/">How to get to sleep</a>
            <p>National Health Service</p>
          </div>
        </div>
        <div class="resource-card">
          <div class="text-wrapper">
            <a href="http://healthysleep.med.harvard.edu/healthy/getting/overcoming/tips">Tips to improve your sleep</a>
            <p>Division of Sleep Medicine at Harvard Medical School</p>
          </div>
        </div>
      </div>
      <p>
        Remember to speak to your doctor if you're concerned about your sleep!
      </p>
    </section>
    <footer>
      <p>
        Made with &#x1F90D; 
        <!-- Keep data-text the same as the button text in order to prevent a layout shift on hover -->
        <button id="modal-link" data-text="Thank you">Thank you</button>
      </p>

      <a href="#top"><i class="fas fa-long-arrow-alt-up fa-3x" title="Back to top of page"></i></a>
    </footer>
  </main>
  <div class="modal">
    <div class="modal-content">
      <div class="closing">
        <button class="close">&times;</button>
      </div>
      <h2>Thank you to:</h2>
      <h3>Prof. Puneet Tandon sir</h3>
      <p>
        for guiding and mentoring us throughout the project.
      </p>

      <h3>We wish</h3>
      <p>
        that our project would benefit many users and could help them in detecting their bad sleep quality.
      </p>
      <!-- <h3>Webtreats</h3>
      <p>"Rice Paper Sky Textures and Layered PSD 4": by webtreats is licensed with CC BY 2.0. To view a copy of this
        license, visit: <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons</a>
      </p>
      <h3>Font Awesome</h3>
      <p>Fontawesome arrow icon: <a href="https://fontawesome.com/license/free">Font Awesome</a>
      </p> -->
    </div>
  </div>
</body>
<!-- Scripts -->
<script src={{ url_for('static', filename='./assets/scripts/index.js') }}></script>
<script src={{ url_for('static', filename='./assets/scripts/cloud.js') }}></script>
<script src={{ url_for('static', filename='./assets/scripts/calculator.js') }}></script>
</html>